numpy
pandas
nltk
gensim
tqdm
scikit-learn
matplotlib
seaborn
scipy
adjustText
umap-learn
jupyter
ipykernel
pywin32

langchain
langchain-huggingface
huggingface-hub
duckduckgo-search
html2text
faiss-cpu
streamlit
chromadb
langchain-community
numexpr
youtube_search
wikipedia
